BR2_arm=y
BR2_CCACHE=y
BR2_CCACHE_DIR="$(HOME)/.buildroot-ccache-step1"
BR2_KERNEL_HEADERS_3_18=y
BR2_PTHREADS_NONE=y
# BR2_UCLIBC_INSTALL_UTILS is not set
BR2_TARGET_GENERIC_HOSTNAME="b3-install"
BR2_TARGET_GENERIC_ISSUE="Welcome to Excito B3 Rescue/Install"
BR2_INIT_NONE=y
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/excito/common/rootfs-step1-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/excito/common/post-build-step1.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/excito/b3/post-image-step1.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.18.21"
BR2_LINUX_KERNEL_PATCH="board/excito/b3/linux-3.18.21.patch"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/excito/b3/linux-3.18.21.config"
BR2_LINUX_KERNEL_ZIMAGE=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="kirkwood-b3"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/excito/common/busybox-step1.config"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
